@charset "utf-8";
/* CSS Document */
body
	{
	width:130px;
	height:150px;
	background-image:url(/img/bg.png);
	padding-top:20px;
	}
.rectangle
	{
	position:absolute;
	width:123px;
	height:30px;
	text-align:center;
	left:4px;
	color:#FFFFFF;
	font-size:12px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	}
#online
	{
	top:38px;
	border:0;
	}
#CURnum{color:#00CC66;}
#MAXnum{color:#FF0000;}
#ping
	{
	padding-top:10px;
	top:64px;
	}
#icons
	{
	top:105px;
	}
#status 
{
	margin: 0;
	padding: 0;
	border: none;
	vertical-align: middle;
}
#pl 
	{
	position:absolute;
	left:21px;
	top:130px;
	}